body, html {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../Bilder/Logo_ConnectX.png') no-repeat center center fixed; 
    background-size: cover;
}

section {
    width: 100%;
    max-width: 800px; 
}

.play-Box {
    background: rgba(255, 255, 255, 0.8); /* Slightly opaque white for better readability */
    padding: 40px; 
    border-radius: 40px; 
    border: 4px solid rgba(255, 255, 255, .5); 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.play-Box h2 {
    margin-bottom: 40px; 
    font-size: 4em;
    color: #d32f2f; 
    text-align: center;
}

.buttons div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px
}

.button-side-image {
    width: 50px; 
    height: auto;
    margin: 0 10px; 
    border: 2px solid #d32f2f; 
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 20px; 
    border: none;
    border-radius: 10px; 
    background-color: #d32f2f; 
    color: white;
    font-size: 2em; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #b71c1c;
}

.small-button {
    padding: 10px; 
    font-size: 1em;
    width: 200px;
}

.subtle-button {
    padding: 10px; 
    font-size: 1.5em;
    width: 100%;
    background-color: transparent;
    color: #d32f2f;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.subtle-button:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.subtle-button .icon {
    margin-right: 8px;
}

@media (max-width: 600px) {
    .play-Box {
        width: 90%;
        padding: 20px;
    }

    button {
        font-size: 1.8em;
    }
}
