body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('../Bilder/hintergrund.jpg');
    background-size: cover;
    background-position: center;
    font-family: 'Arial', sans-serif;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px; /* Reduziere die Lücke, wenn nötig */
    width: 33.33%;
    padding: 10px;
    box-sizing: border-box;
    background-color: black; /* Schwarzer Hintergrund zwischen den Zellen */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cell {
    width: 100%;
    padding-top: 100%;
    position: relative;
    background-color: #f0f0f0; /* Oder eine andere Farbe für die Zellen */
    border-radius: 50%; /* Vollständig runde Zellen */
    border: none; /* Entferne den Rand, um den schwarzen Hintergrund zu zeigen */
}

.cell::before {
    content: '';
    position: absolute;
    top: 10%;
    left: 10%;
    right: 10%;
    bottom: 10%;
    border-radius: 50%;
    background-color: white; /* Farbe der Spielsteine */
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cell.red::before {
    background-color: red;
}

.cell.blue::before {
    background-color: blue;
}