@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: url('../Bilder/hintergrund.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.bestenliste-box {
    width: 800px;
    padding: 20px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    color: #fff;
    text-align: center;
}

.bestenliste-box h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #fff;
}

.bestenliste {
    list-style-type: none;
}

.bestenliste li {
    font-size: 1.2em;
    margin: 10px 0;
}
