@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div class="container">
	<h1 class="title">CONNECT FOUR Team 7</h1>
	<p class="message">Bitte registrieren Sie sich oder loggen Sie sich ein mit den Buttons oben rechts!</p>
	<p class="message">Nach Authentifizierung können sie sich auf der Spieleseite anmelden. Viel Spass!</p>
</div>