body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: url("../Bilder/Logo_ConnectX.png");
  background-size: cover;
  background-position: center;
  font-family: "Arial", sans-serif;
  overflow: auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-and-game {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: nowrap;
  width: 100%;
}

.info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  color: white;
  gap: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  width: 300px;
  flex-shrink: 0;
  flex-grow: 0;
}

.info-box.rot {
  background-color: #d32f2f; /* Dark red */
}

.info-box.blau {
  background-color: #1565c0; /* Blue to provide contrast with the red */
}

.game-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: -100px;
  margin-left: auto;
  margin-right: auto;
}

.current-player h1 {
  font-size: 2em;
  color: #d32f2f; /* Dark red to match the background */
  text-align: center;
  margin-bottom: 20px;
  background: rgba(
    255,
    255,
    255,
    0.8
  ); /* Slightly opaque white background for better readability */
  padding: 10px;
  border-radius: 10px;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(7, 80px);
  gap: 2px;
  width: 560px;
  margin: auto;
  padding: 20px;
  background-color: black;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  min-width: 560px;
  max-width: 560px;
}

.cell {
  width: 80px;
  height: 80px;
  position: relative;
  background-color: #f0f0f0;
  border-radius: 50%;
}

.cell::before {
  content: "";
  position: absolute;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  border-radius: 50%;
  background-color: white;
}

.cell.rot::before {
  background-color: #d32f2f; /* Dark red */
}

.cell.blau::before {
  background-color: #1565c0; /* Blue */
}

@media (max-width: 1150px) {
  .info-and-game {
    flex-direction: column;
    align-items: center;
  }

  .game-area,
  .info-box {
    width: 100%;
    margin-bottom: 10px;
  }

  .game-container {
    width: 100%;
  }
}

#restart-button,
#new-opponent-button,
#abort-button {
  padding: 20px 40px; /* Increased padding for larger size */
  font-size: 20px; /* Increased font size */
  color: white;
  background-color: #d32f2f; /* Dark red */
  border: none;
  border-radius: 10px; /* Increased border radius for better visibility */
  cursor: pointer;
  position: fixed;
  bottom: 30px; /* Increased bottom space for better positioning */
  right: 30px; /* Adjusted right space */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); /* More pronounced shadow */
  margin: 10px; /* Added margin for spacing between buttons */
}

#new-opponent-button {
  right: auto; /* Reset right positioning */
  left: 30px; /* Position to the left */
}

#abort-button {
  right: 30px;
  bottom: 90px; /* Position slightly above the restart button */
}

#restart-button:hover,
#new-opponent-button:hover,
#abort-button:hover {
  background-color: #b71c1c; /* Slightly darker red for hover effect */
}

#end-game-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(211, 47, 47, 0.9); /* Red background */
  color: #ffffff; /* White font */
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  text-align: center;
  z-index: 1000;
}

@media (max-width: 360px) {
  #robots-container {
    width: 100%;
    border: none;
    border-radius: 0;
    padding: 10px;
  }

  #edit-robot-modal {
    width: 100%;
    border: none;
    border-radius: 0;
    padding: 10px;
  }

  .menu-option button {
    height: 50px;
  }
}
